<div class="container">
    <div class="bg-blue-100 py-2">
        <h1 class="text-center text-4xl bold text-blue-700">Waiter Schedule</h1>
    </div>

    <div>
        <p class="mt-6">Days when waiters are available</p>
    </div>

    <div class="error-messages">
        <span class="border border-red-600 rounded-full py-2 text-red-500 bg-rose-300">
            {{!-- {{error_messages}} --}}
          
        </span>
    </div>
    <div class="days mt-6 text-center">
        <form action="/waiters" method="post">
            <div>
                <label for="name">Enter name:<input type="text" value="" class="bg-blue-100" name="username"></label>
                <button type="submit" class="border border-solid bg-blue-300 py-2 rounded">Enter</button>
            </div>
        </form>
        {{#each days}}
        <div
            class="flex daysofweek mr-2 border border-neutral-700 border-solid py-1 {{#if this.status}}bg-{{this.status}}-500{{/if}}">
            <span class="text-xl bold">{{@key}}</span>
            <ol class="flex list-decimal ml-6">
                {{#each this.waiters}} <!-- Access the array of waiters for this day -->
                <a href="/waiter/{{this}}">
                    <li class="py-2 ml-4 mr-4 justify-center">{{this}}</li>
                </a>
                {{/each}}
            </ol>
        </div>
        {{/each}}
    </div>
</div>

{{!-- <table>
    <thead>
        <tr>
            <th>Day of the Week</th>
            <th>Waiters</th>
        </tr>
    </thead>
    <tbody>
        {{#each days}}
        <tr class="">
            <td class="daysofweek mt-2">{{this}}</td>
            <td>
                <ul>
                    {{#each ../names}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table> --}}
</div>
</div>