<div class="waiter_container">
    <div class="heading">
        <h1>Add Your Shift</h1>
    </div>
    <div class="selection">
        <form action="/waiter/{{username}}" method="post">
            <fieldset class="border border-solid border-gray-500 p-5">
                <legend>Choose 3 days:</legend>
                <!-- HTML code for the checkboxes -->
                {{#each y}}
                <div>
                    <input type="checkbox" id="{{@key}}" value="{{@key}}" name="checks" {{#if this}} checked {{/if}} />
                    <label for="{{@key}}">{{@key}}</label>
                </div>
                {{/each}}

            </fieldset>
            <button type="submit">done</button>
        </form>

    </div>
</div>